.home-page {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
    height: 92vh;
    background-color: #f4f4f9;
    text-align: left;
}

.intro {
    max-width: 600px;
    margin-right: 50px;
}

.intro-greeting {
    font-size: 2.5rem;
    color: #333;
    font-weight: bold;
}

.name {
    color: #160c80;
}

.intro-content {
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 20px 0;
    color: #555;
}

.interest-list {
    list-style-type: circle;
    padding-left: 20px;
    color: #333;
}

.interest-list li {
    font-size: 1.2rem;
    margin-bottom: 8px;
}

.intro-note {
    margin-top: 20px;
    font-size: 1rem;
    color: #777;
    font-style: italic;
    display: flex;
}

.intro-item {
    padding: 10px;
    color: blue;
    text-decoration: underline;
}

.profile-image-container {
    flex-shrink: 0;
}

.profile-image {
    border-radius: 10px;
    width: 350px;
    height: 350px;
    object-fit: cover;
    border: 3px solid #4e0c0c;
}

@media screen and (max-width: 800px) {
    .home-page {
        flex-direction: column;
        text-align: left;
        height: 110vh;
    }

    .intro {
        margin-right: 0;
        margin-bottom: 30px;
    }

    .profile-image-container {
        display: none;
    }

    .profile-image {
        display: none;
    }
}