.home-page {
    text-align: left;
    padding-left: 220px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 92vh;
    background: linear-gradient(#25227f, #7f85c4);
}

.intro {
    font-size: 2.5rem;
    display: block;
    width: 50%;
}

.intro-name {
    font-weight: bold;
}

.name {
    font-size: 3.8rem;
    /* color: #3498db; */
    color: white;
    font-weight: bold;
}

.intro-content-para {
    font-size: 1.6rem;
    font-weight: bold;
}

.intro-note {
    padding-top: 30px;
    font-size: 1.6rem;
    font-weight: bold;
}

.profile-image-container {
    width: 50%;
    height: 600px;
    justify-content: center;
    padding-top: 20px;
}

.profile-image {
    border-radius: 50%;
    width: 550px;
    height: 550px;
    object-fit: cover;
    padding: 2px;
    /* border-color: #3498db; */
    border-color: white;
    border-width: 13px;
}

@media screen and (max-width: 800px) {
    .home-page {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 105%;
        height: 120vh;
        padding: 0px;
    }

    .intro-name {
        display: block;
        padding: 4px;
    }

    .intro {}

    .profile-image-container {
        display: none;
    }
}