.NavbarItem {
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    /* background-color: #96b9f7; */
    background-color: #0a4267;
    /* background-color: #c5d8f9; */
    border-bottom-width: 1px;
    border-color: black;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: 70w;
    justify-content: end;
}

.nav-links {
    /* color: black; */
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links a.active {
    text-decoration: underline;
    font-weight: bold;
    color: #3498db;
}

.nav-links:hover {
    border-radius: 4px;
    transition: all 0.2s ease-out;
}

.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

.cD {
    position: relative;
}

/* PHONE */
@media screen and (max-width: 800px) {
    .NavbarItem {
        position: relative;
        align-items: center;
        /* background-color: #6d76f5; */
    }

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 90vh;
        position: relative;
        top: 250px;
        left: -100%;
        opacity: 1;
        transition: all 0.1s ease;
        border-bottom-style: solid;
        border-top-style: solid;
        background-color: antiquewhite;

    }

    .nav-menu.active {
        left: 0;
        opacity: 1;
        transition: all 0.1s ease;
        z-index: 1;
        padding: 5rem;
    }

    .nav-links {
        text-align: center;
        display: table;
        width: 50%;
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}